<a href="#" class="text-button text-button--icon">
  <%= render template: 'marketing/common/icon', :locals => {
    iconName: 'ui_arrow_left',
    iconClass: 'text-button__icon'
  } %>
  <%= text %>
</a>