<button class="form-button form-button--light">
  <%= render template: 'marketing/common/icon', :locals => {
    :iconName => 'social_icon_google_color',
    :iconClass => 'form-button__icon'
  } %>
  Sign up with Google
</button>