<div class="label-icon__border">
  <div class="label-icon">
    <%= render template: 'marketing/common/icon', :locals => { :iconName => icon, :iconClass => 'label-icon__icon' } %>
    <%= text %>
  </div>
</div>