.faq {
  padding: 64px 0px 0px;
}

.faq__content {
  display: flex;
  flex-direction: column;
  padding: 20px;
  min-height: 500px;

  background-image: url('faq_background');
  background-position: top right;
  background-size: 500px 500px;
  background-repeat: no-repeat;
}

.faq__subtitle {
  font-family: var(--ff-primary);
  font-size: 0.875rem;
  line-height: 1.5;
  font-weight: 600;
  color: var(--c-violet);
  background: #5533bf1a;
  padding: 4px 8px;
  border-radius: 10px;
}

.faq__title {
  margin: 12px 0 16px;
  width: 100%;

  font-family: var(--ff-primary);
  font-size: 2.25rem;
  line-height: 1.17;
  font-weight: 600;
  color: var(--c-black);
}

.faq__description {
  margin: 0 0 48px;
  width: 100%;

  font-family: var(--ff-primary);
  font-size: 1.125rem;
  line-height: 1.55;
  font-weight: 400;
  color: var(--c-text-grey-dark);
}

.faq__description a {
  color: var(--c-text-grey-dark);
}

//  ==== Question ====

.faq__questions {
  margin: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.faq__question {
  padding: 24px;
  box-sizing: border-box;
  border-radius: 20px;
  background: linear-gradient(180deg, #ffffff 0%, #ffffff 50%, #fefeff 100%);
  border: 0.5px solid rgba(0, 0, 0, 0.16);
  box-shadow: 0px 10px 12px rgba(0, 0, 0, 0.02), 0px 2px 4px rgba(0, 0, 0, 0.05);
  border-radius: 20px;
}

.faq__question-header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;

  cursor: pointer;
}

.faq__question-title {
  margin: 0;

  font-family: var(--ff-primary);
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 1.4;
  color: var(--c-black);
}

.faq__question-icon-wrap {
  width: 36px;
  height: 36px;
}

.faq__question-icon {
  width: 36px;
  height: 36px;

  fill: var(--c-violet);
  color: var(--c-white);
}

.faq__question-icon--minus {
  display: none;
}

.faq__question-content {
  display: none;
  padding-right: 48px;
}

.faq__question-answer {
  font-family: var(--ff-primary);
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: var(--c-text-grey-dark);
}

.faq__question--open {
  background-color: var(--c-grey-50);
}
.faq__question--open .faq__question-icon--minus {
  display: block;
}
.faq__question--open .faq__question-icon--plus {
  display: none;
}
.faq__question--open .faq__question-content {
  display: block;
}

@media screen and (min-width: 768px) {
  .faq__content {
    min-height: 800px;
    background-size: 800px 800px;
  }
}

@media screen and (min-width: 992px) {
  .faq__content {
    flex-direction: row;
    align-items: flex-start;
    gap: 120px;
  }

  .faq__header {
    width: 480px;
    flex-shrink: 1;
  }

  .faq__subtitle {
    font-size: 1rem;
  }

  .faq__title {
    font-size: 3rem;
  }

  .faq__questions {
    flex-shrink: 4;
    gap: 12px;
  }

  .faq__question--open {
    background-color: transparent;
  }
}

@media screen and (min-width: 1200px) {
  .faq__content {
    padding: 40px;
  }
}
