.hero {
  --from-left: "0.00001%";
  --from-right: "0.00001%";
  --side-padding: "0%";
  --c-background: #fff;

  position: relative;
  overflow: hidden;
}

.hero__wrap {
  clip-path: polygon(
    0 0,
    100% 0%,
    100% calc(100% - var(--offset)),
    0% 100%
  );
  background-color: var(--c-background);
}

.hero__content {
  position: relative;
  z-index: 9;

  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 90px 18px 0px;
  gap: 8px;
}

.hero__image-wrap {
  max-width: 70%;
  margin: 10px auto;
}

.hero__image {
  margin-left: var(--from-left);
  margin-right: var(--from-right);
  display: block;
  width: calc(100% - var(--from-right) - var(--from-left));
}

.hero__title {
  margin: 0;
  max-width: 900px;

  font-size: 1.875rem;
  font-weight: 600;
  color: var(--c-black);
  font-family: var(--ff-primary);
  text-align: center;
  line-height: 1.666;
}

.hero__description {
  margin: 0;
  padding: 0 30px;
  max-width: 700px;

  font-size: 1.125rem;
  font-weight: 400;
  color: var(--c-black);
  font-family: var(--ff-primary);
  text-align: center;
  line-height: 1.2666;
}

/*===== Hero Background =====*/

.hero-bg {
  position: absolute;
  width: 100%;
  max-width: 1440px;
  bottom: 0px;
  z-index: 1;
  transform: scale(1.05);
}

.hero-bg__image {
  width: 100%;
}

.hero-overlay {
  position: absolute;
  width: 80%;
  max-width: 1100px;
  bottom: 0px;
  z-index: 99;
}

.hero-overlay__image {
  width: 100%;
}

@media screen and (min-width: 768px) {
  .hero__content {
    padding-top: 130px;
  }

  .hero__image-wrap {
    margin: 48px auto 0;
  }

  .hero__title {
    font-size: 2.75rem;
    line-height: 1.1333;
  }

  .hero__description {
    font-size: 1.25rem;
    line-height: 1.7;
  }
}

@media screen and (min-width: 992px) {
  .hero__title {
    font-size: 3.5rem;
  }

  .hero__description {
    font-size: 1.25rem;
    line-height: 1.7;
  }
}

@media screen and (min-width: 1200px) {
  .hero__title {
    font-size: 3.75rem;
  }
}
