:root {
  --c-trigger-block-v-bg: var(--c-white);
  --c-trigger-block-v-shadow: var(--c-white);
  --c-text: var(--c-black);
  --c-text-secondary: var(--c-black);
  --f-direction: "row";
}

.trigger-block-v {
  background-color: var(--c-trigger-block-v-bg);
}

/*===== Title =====*/

.trigger-block-v__title-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 80px;
}

.trigger-block-v__title {
  max-width: 720px;
  margin-bottom: 20px;

  font-family: var(--ff-primary);
  font-weight: 600;
  font-size: 2rem;
  line-height: 1.16;
  color: var(--c-text);
  text-align: center;
}

.trigger-block-v__text {
  max-width: 640px;
  font-weight: 400;
  font-size: 1.25rem;
  line-height: 1.4;
  text-align: center;
  color: var(--c-text-secondary);
}

.trigger-block-v__extra-title {
  color: var(--c-violet);
}

/*===== Images =====*/

.trigger-block-v__image-wrap {
  position: relative;

  width: 100%;
  max-width: 500px;
  margin: 0 auto;
  flex-shrink: 2;
  flex-grow: 2;
}

.trigger-block-v__image {
  width: 100%;
  height: auto;
}

.trigger-block-v__shadow {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: -9;

  width: 60%;
  height: 100%;

  background-color: var(--c-trigger-block-v-shadow);
  border-radius: 50%;
  filter: blur(58px);
  transform: translate(-50%, -50%) rotate(5deg);
}

/*===== Triggers =====*/

.trigger-block-v__triggers {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
  width: 100%;
}

@media screen and (min-width: 768px) {
  .trigger-block-v__title {
    font-size: 3rem;
  }

  .trigger-block-v__sides {
    display: flex;
    flex-direction: var(--f-direction);
    justify-content: space-between;
    align-items: center;
    gap: 100px;
  }

  .trigger-block-v__image-wrap {
    width: auto;
    max-width: 100%;
  }

  .trigger-block-v__shadow {
    filter: blur(88px);
  }

  .trigger-block-v__triggers {
    width: 45%;
    display: flex;
    flex-shrink: 0;
  }
}
