:root {
  --c-trigger-block-v-bg: var(--c-white);
  --c-trigger-block-v-shadow: var(--c-white);
  --c-text: var(--c-black)
}

.trigger-block-v {
  background-color: var(--c-trigger-block-v-bg);
}

/*===== Title =====*/

.trigger-block-v__title {
  margin: 35px 10px 45px;

  font-family: var(--ff-primary);
  font-weight: 700;
  font-size: 2rem;
  line-height: 1.16;
  color: var(--c-text);
  text-align: center;
}

.trigger-block-v__extra-title {
  color: var(--c-violet);
}

/*===== Images =====*/

.trigger-block-v__image-wrap {
  position: relative;

  width: 100%;
  max-width: 500px;
  margin: 0 auto;
  flex-shrink: 2;
  flex-grow: 2;
}

.trigger-block-v__image {
  width: 100%;
  height: auto;
}

.trigger-block-v__shadow {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: -9;

  width: 60%;
  height: 100%;

  background-color: var(--c-trigger-block-v-shadow);
  border-radius: 50%;
  filter: blur(58px);
  transform: translate(-50%, -50%) rotate(5deg);
}

/*===== Triggers =====*/

.trigger-block-v__triggers {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 40px;
  width: 100%;
  margin: 35px 10px 90px;
}

@media screen and (min-width: 768px) {
  .trigger-block-v__title {
    max-width: 900px;
    margin: 55px auto 50px 0;

    font-size: 3.125rem;
    text-align: left;
  }

  .trigger-block-v__sides {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
  }

  .trigger-block-v__image-wrap {
    width: auto;
    max-width: 100%;
  }

  .trigger-block-v__shadow {
    filter: blur(88px);
  }

  .trigger-block-v__triggers {
    width: 40%;
    display: flex;
    flex-direction: column;
    gap: 36px;
    flex-shrink: 0;
  }
}
