<%= render template: 'marketing/common/header' %>

<main>
  <%= render template: 'marketing/components/text_header', :locals => {
    date: 'Current as of May 25, 2024',
    title: 'Privacy Policy',
    description: 'Your privacy is important to us at Solidarity Tech. We respect your privacy regarding any information we may collect from you across our website.'
  } %>

  <%= render template: 'marketing/components/privacy_policy_text' %>

</main>