<%= render template: 'marketing/common/header' %>

<main>
  <%= render template: 'marketing/components/text_header', :locals => {
    date: 'Current as of June 15, 2023',
    title: 'Support',
    description: 'Our dedicated support team is here to help.'
  } %>


  <section class="text-section">
    <div class="text-section__content">
      <div>The Solidariry Tech support team is available Monday through Friday, from 10 AM to 6PM Pacific Time. Send us an email or a message through the chat widget in the dashboard, and we will get back to you in no more than 3 hours, during our operating hours.</div>
      <br/>
      <div>To reach us, email <a href="mailto:support@solidarity.tech">support@solidarity.tech</a>.</div>
    </div>
  </section>

</main>