:root {
  --c-trigger-icon: var(--c-violet);
  --c-trigger-icon-wrap: #F5F6FB;
  --c-text: var(--c-black);
  --c-secondary: var(--c-text-secondary);
}

.trigger {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.trigger:not(:last-child)::after {
  content: "";
  width: 100%;
  height: 0.5px;
  background-color: #00000033;
  margin-top: 16px;
}

.trigger__title-wrap {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  margin: 0px;
  gap: 16px;
  max-width: 500px;
}

.trigger__icon-wrap {
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  padding: 12px;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  background-color: var(--c-trigger-icon-wrap);
}

.trigger__icon {
  width: 24px;
  height: 24px;
  fill: var(--c-trigger-icon);
}

.trigger__title {
  margin: 0;
  width: 100%;
  font-family: var(--ff-primary);
  font-weight: 600;
  font-size: 1.5rem;
  line-height: 1.26;
  color: var(--c-text);
}

.trigger__text {
  margin: 8px 0 0;

  font-family: var(--ff-primary);
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.5;
  color: var(--c-text-secondary);
}

.trigger__text-dashed {
  border-bottom: 1px dashed var(--c-text-secondary);
}

@media screen and (min-width: 768px) {
  .trigger:not(:last-child)::after {
    width: 105%;
    margin-top: 20px;
  }

  .trigger__title {
    font-size: 1.25rem;
  }
}

@media screen and (min-width: 992px) {
  .trigger:not(:last-child)::after {
    margin-top: 24px;
  }

  .trigger__title {
    font-size: 1.5rem;
  }
}

@media screen and (min-width: 1200px) {
  .trigger__title {
    font-size: 1.75rem;
  }
}
