<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <div>
	    <%= @content.html_safe %>
	</div>


	<div>
			<h5 class="">Connect with Rideshare Drivers United:</h5>
			<p class=""><a href="https://www.facebook.com/RideshareDriversUnite/" class="soc-btn fb">Facebook</a> <a href="https://twitter.com/_drivers_united" class="soc-btn tw">Twitter</a> </p>
	</div>
  </body>
</html>