<base target="_blank">
<%= content.html_safe %>
<% if show_watermark %>
<div style="margin-top: 5px; text-align: center;">Sent via <a data-skip-click="true" href="https://www.solidarity.tech?source=email-mark">Solidarity Tech</a></div>
<% end %>