<p>Hi <%= @resource.first_name.blank? ? @resource.email : @resource.first_name %>,</p>

<p>We received a request to reset the password for your account associated with this email address. If you made this request, please follow the instructions below:</p>

<p><%= link_to 'Change my password', "https://#{@resource.class.name=='SolidarityUser' ? 'dashboard.' : '' }solidarity.tech#{edit_password_path(@resource, reset_password_token: @token)}", data: {skip_click: true} %></p>

<p>If you did not request a password reset, no further action is required on your part. Rest assured, your account is safe, and your password remains unchanged unless you initiate a reset.</p>
<p>Solidarity Tech</p>
