<main class="wrap page-not_found">
  <div class="content page-not_found__content">
    <div class="page-not_found__text">
      <h4 class="page-not_found__subtitle">404 error</h4>
      <h1 class="page-not_found__title">Page not found...</h1>
      <p class="page-not_found__description">Sorry, the page you are looking for doesn't exist or has been moved.</p>
    </div>
    <div class="page-not_found__image-wrap">
      <%= image_tag '404.svg', class: 'page-not_found__image' %>
    </div>
  </div>
</main>