<div class="number-list">
  <% phones.each do |phone| %>
    <div class="number-list__item">
      <span class="number-list__text"><%= phone %></span>
      <button class="number-list__button">Select</button>
    </div>
  <% end %>
</div>