<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  </head>

  <body>




        <table align="center" border="0" cellpadding="0" cellspacing="0" height="100%" width="100%"  style="border-collapse:collapse;height:100%;margin:0;padding:0;width:100%;background-color:#fff" bgcolor="#FFFFFF">
            <tbody><tr>
                <td align="center" valign="top" style="height:100%;margin:0;padding:0;width:100%;border-top:0" height="100%" width="100%">
                    
                    <table border="0" cellpadding="0" cellspacing="0" width="100%" style="border-collapse:collapse">
                        <tbody><tr>
                            <td align="center" valign="top"  style="background-color:#fff;background-image:none;background-position:center;background-repeat:no-repeat;background-size:cover;border-bottom:0;border-top:0;padding-bottom:9px;padding-top:9px" bgcolor="#FFFFFF">
                                <table align="center" border="0" cellpadding="0" cellspacing="0" width="100%" style="border-collapse:collapse;max-width:600px">
                                    <tbody><tr>
                                        <td valign="top">
                                            <table border="0" cellpadding="0" cellspacing="0" width="100%" style="border-collapse:collapse;min-width:100%">
                                                <tbody><tr><td valign="top" style="padding:9px">
                                                    <table align="left" width="100%" border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse;min-width:100%">
                                                        <tbody>
                                                            <tr>
                                                                <td valign="top" style="padding-bottom:0;padding-left:9px;padding-right:9px;padding-top:0;text-align:center" align="center">
                                                                    
                                                                    
                                                                    <div style="height:80px">
                                                                        <span style="display:inline-block;height:100%;vertical-align:middle">
                                                                        </span>

                                                                        <img src="https://irdu.s3.amazonaws.com/images/rdu.jpg" style="border:0;height:auto;outline:none;text-decoration:none;max-height:80px;max-width:240px;vertical-align:middle" height="auto" valign="middle" >
                                                                    </div>
                                                                    
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td  valign="top" style="word-break:break-word;color:#656565;font-family:Helvetica;font-size:13px;line-height:150%;text-align:center" align="center">
                                                                    
                                                                    
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </td>
                                            </tr></tbody></table>
                                        </td>
                                    </tr>
                                </tbody></table>
                                
                            </td>
                        </tr>

                        <tr>
                            <td align="center" valign="top" style="background-color:#fff;background-image:none;background-position:center;background-repeat:no-repeat;background-size:cover;border-bottom:0;border-top:0;padding-bottom:0;padding-top:9px" bgcolor="#FFFFFF">
                                <table align="center" border="0" cellpadding="0" cellspacing="0" width="100%" style="border-collapse:collapse;max-width:600px">
                                    <tbody><tr>
                                        <td valign="top">
                                            <table border="0" cellpadding="0" cellspacing="0" width="100%" style="border-collapse:collapse;min-width:100%">
                                                <tbody>
                                                    <tr>
                                                        <td valign="top">
                                                            <table align="left" border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse;max-width:100%;min-width:100%" width="100%" >
                                                                <tbody>
                                                                    <tr>
                                                                        <td valign="top" style="word-break:break-word;color:#202020;font-family:Helvetica;font-size:16px;line-height:150%;text-align:left;border:1px solid #e0e0e0;border-top:4px solid;padding-bottom:25px;padding-left:30px;padding-right:30px;padding-top:25px" align="left">
                                                                            

                                                                         <%= yield %>



                                                                        </td>
                                                                    </tr>
                                                                </tbody>
                                                            </table>
                                                            
                                                            
                                                        </td>
                                                    </tr>
                                                    
                                                    
                                                  
                                                    
                                                </tbody>
                                            </table>
                                        </td>
                                    </tr>
                                </tbody></table>
                                
                            </td>
                        </tr>
                        <tr><td align="center" valign="top"  style="background-color:#fff;background-image:none;background-position:center;background-repeat:no-repeat;background-size:cover;border-bottom:0;border-top:0;padding-bottom:10px;padding-top:10px;" bgcolor="#FFFFFF">
                            
                            <table align="center" border="0" cellpadding="0" cellspacing="0" width="100%" style="border-collapse:collapse;max-width:600px">
                                <tbody><tr>
                                    <td valign="top">
                                        <table border="0" cellpadding="0" cellspacing="0" width="100%" style="border-collapse:collapse;min-width:100%">
                                            <tbody>
                                                <tr>
                                                    <td align="center" style="padding-left:10px;padding-right:10px">
                                                        <table border="0" cellpadding="0" cellspacing="0" width="100%" style="border-collapse:collapse;min-width:100%">
                                                            <tbody>
                                                                <tr>
                                                                    <div>
                                                                        Connect with Us: <a href="https://www.facebook.com/RideshareDriversUnite/" class="soc-btn fb">Facebook</a> • <a href="https://twitter.com/_drivers_united" class="soc-btn tw">Twitter</a>
                                                                </tr>
                                                         

                                                                <tr>
                                                                    <td align="center" valign="top" style="padding-left:9px;padding-right:9px;padding-top:20px">
                                                                        <table align="center" border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
                                                                            <tbody>
                                                                                <tr>
                                                                                    <td align="center" valign="top">
                                                                                        
                                                                                        <table>
                                                                                            <tbody>
                                                                                                <tr>
                                                                                                    
                                                                                                    <td valign="center" style="word-break:break-word;color:#656565;font-family:Helvetica;font-size:12px;line-height:150%;text-align:center;padding-right:0.4rem" align="center">If you no longer wish to receive these emails, unsubscribe here:  
                                                                                                    <% if @email_message_id %>
                                                                                                        <%= link_to("Unsubscribe", mailkick_unsubscribe_url(email_message_id: @email_message_id)) if defined? mailkick_unsubscribe_url %>
                                                                                                    <% else %>
                                                                                                        <%= link_to("Unsubscribe", mailkick_unsubscribe_url) if defined? mailkick_unsubscribe_url %>
                                                                                                    <% end %>
                                                                                                    </td>
                                                                                                    
                                                                                                        
                                                                                                    </td>
                                                                                                </tr>
                                                                                            </tbody>
                                                                                        </table>
                                                                                        
                                                                                    </td>
                                                                                </tr>
                                                                                
                                                                            </tbody>
                                                                        </table>
                                                                    </td>
                                                                </tr>

                                                                    


                                                            </tbody>
                                                        </table>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </td>
                                </tr>
                            </tbody></table>
                            
                        </td>
                        
                    </tr></tbody></table>
                    
                </td>
            </tr>
        </tbody></table>
  </body>
</html>